# PostgreSQL bağlantısı (Supabase, Neon, Vercel Postgres...)
DATABASE_URL="postgresql://user:password@host:5432/brion_yapi"

# NextAuth
NEXTAUTH_SECRET="guclu-bir-gizli-anahtar-buraya"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary
CLOUDINARY_CLOUD_NAME="cloud-name"
CLOUDINARY_API_KEY="api-key"
CLOUDINARY_API_SECRET="api-secret"
